:root {
    --color-1: #ffd645;
    --color-2: #ffc700;
    --color-3: #e0bd3e;
    --color-4: #b4b1a9;
    --font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    --font-size: 32;
}

body {
    font-family: var(--font-family);
    font-size: var(--font-size);
    background-color: black;
    height: auto;
    width: auto;
    margin: 0px;
}
.outside-container {
    margin: auto;
    margin-top: 10vh;
    background-color: black;
    width: max-content;
    height: 100%;
    
}
h1 {
    color: white;
    text-align: center;
}
.main-container {
    border: 2px solid var(--color-2);
    border-radius: 8px;
    padding: 16px;
    height: 100%;
    width:max-content;
}

.screen {
    width: 100%;
    height: 300px;
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.screen > div {
    display:flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.input {
    color: white;
    font-size: 2rem;
}

.partial-result {
    color: rgb(165, 165, 165);
    font-size: 1.4rem;
}

.yellow-line {
    width: 100%;
    background-color: var(--color-2);
    height: 2px;
    margin-top: 12px;
    margin-bottom: 12px;
}

button {
    background-color: var(--color-1);
    border-radius: 4px;
    color: black;
    border: none;
    width: 100px;
}

button:active {
    transform: scale(1.1);
}

button:disabled {
    background-color: var(--color-4);
}
.button-container {
    display:flex;
    gap: 8px;
}

.left-side {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 8px;
}
.right-side {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 8px;
}

.smaller-button {
    height: 40px;
    font-size: 1.3rem;
}

.number-button {
    height: 50px;
    font-size: 1.5rem;
}

.biggest-button {
    height: 80px;
    font-size: 1.8rem;
}

.my-name {
    text-align: center;
    margin-top: 12px;
}
.link {
    text-decoration-style: none;
    text-decoration: none;
    color: white;
}

@media (min-width: 700px){
	
    button:hover:enabled {
        background-color: var(--color-3);
    }
}

@media only screen and (max-width: 465px){
	/*Small smartphones [325px -> 425px]*/
    button {
        width: 90px;
    }
}

@media only screen and (max-width: 420px){
	/*Small smartphones [325px -> 425px]*/
    button {
        width: 80px;
    }
}

@media only screen and (max-width: 380px){
	/*Small smartphones [325px -> 425px]*/
    button {
        width: 70px;
    }
}

@media only screen and (max-width: 380px){
	/*Small smartphones [325px -> 425px]*/
    button {
        width: 65px;
    }
}

